table, th, td {
    table-layout: fixed;
    border-width: 1px;
    border-color: #000000;
    border-style: solid;
    font-family: arial;
}
table {
    border-collapse: collapse;
}
th {
    height: 50px;
    background-color: #ADD8E6;
    font-family: arial;
}
#rowname {
    background-color: #E7F5F5;
    font-family: arial;
}
#uniprotid {
    background-color: #E7F5F5;
    font-family: arial;
}
#empty {
  height: 20px;
  background-color: #FFFFFF;
}
a {
    text-decoration: none;
}
a:visited {
    color: LightSeaGreen;
}
p {
    font-family: arial;
}
p2 {
    font-family: Courier;
}
h1 {
    font-family: arial;
    font-size: 20px;
    font-weight: bold;
    color: LightSeaGreen;
}
td {
  padding: 5px;
  width: 200px;
  word-wrap: break-word;
}
